<% layout('admin') -%>

<div class="container">
  <div class="jumbotron">
    <div class="col-md-12">
      <div class="box">
        <h1>Administrador</h1>
        <p>Ingresa los datos para agregar un nuevo administrador.</p>

        <% if (errors.length > 0) { %>
          <div class="alert alert-danger">
            <h3><%= errors %></h3>
            <p class="text-muted">¿Tienes alguna duda?, <a href="contact.html">Contactanos</a>, estamos a tu disposicion para ayudarte.</p>
          </div>
          <% } %>
          <hr>

          <form method="post">
            <div class="form-group">
              <label>Nombre Completo</label>
              <input required type="text" class="form-control" id="name" placeholder="Ej. Juan Martinez Lopez"name="name">
            </div>
            <div class="form-group">
              <label>Correo</label>
              <input required type="email" class="form-control" id="email"
              placeholder="Ej. ejemplo@gmail.com" name="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input required type="password" name="password" class="form-control" id="password">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Registrate</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="col-md-12">
        <div class="box">
          <h1>Administradores Registrados</h1>

          <h4 class="text-center">Categorias Disponibles</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Admin</th>
              </tr>
            </thead>
            <tbody>
              <%for (var i = 0; i < data.length; i++) {%>
                <tr>
                  <td><%= data[i].profile.local.name %></td>
                  <td><%= data[i].profile.local.email %></td>
                  <td><%= data[i].profile.admin %></td>
                  <td><a href="/admin/administradores/delete?id=<%= data[i].id %>" class="btn btn-primary">Eliminar</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
