<%- layout ('layout') -%>
  <!-- Breadcrumb Area Start -->
  <section
    class="breadcrumb-area "
  >
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-content text-center">
            <h2 class="page-title" style="color: black;">Portafolio</h2>
            <p>Aqui podras observar nuestros mejores trabajos.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Area End -->

  <!-- Gallery Area Start -->
  <div class="alime-portfolio-area section-padding-0-80 clearfix">
    <%for (var i = 0; i < categorias.length; i++) {%>
    <section
      class="portfolio-main-area bg-img bg-overlay jarallax"
      style="background-image: url(<%= categorias[i].link %>);"
    >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="portfolio-main-content text-center">
              <h2 class="page-title"><%= categorias[i].titulo %></h2>
              <p class="page-info">"<%= categorias[i].descripcion %>"</p>
              <a href="/portfolio/gallery?cat=<%= categorias[i].s3_name %>" style="border-radius: 50px; padding: 11px 17px; font-size: 13px; letter-spacing: 0;" class="btn btn-rounded btn-light"> Ver Fotos</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% } %>
  </div>
  <!-- Gallery Area End -->
